<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wallet.stat.mapper.MwStMarketStatsMapper" >
<resultMap id="BaseResultMap" type="com.wallet.stat.model.MwStMarketStats" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <id column="cday" property="cday" jdbcType="VARCHAR" />
    <result column="grp_code" property="grpCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="val1" property="val1" jdbcType="INTEGER" />
    <result column="val2" property="val2" jdbcType="INTEGER" />
    <result column="val3" property="val3" jdbcType="INTEGER" />
    <result column="val4" property="val4" jdbcType="INTEGER" />
    <result column="val5" property="val5" jdbcType="INTEGER" />
    <result column="val6" property="val6" jdbcType="INTEGER" />
    <result column="val7" property="val7" jdbcType="INTEGER" />
    <result column="val8" property="val8" jdbcType="INTEGER" />
    <result column="val9" property="val9" jdbcType="INTEGER" />
    <result column="val10" property="val10" jdbcType="INTEGER" />
    <result column="com_cd" property="comCd" jdbcType="VARCHAR" />
  </resultMap>
	
	<!-- MARKET title 조회 -->
	<select id="selectMarketStatsTitle" parameterType="HashMap" resultMap="BaseResultMap">
		select com_cd code
		from mw_cm_code
		where grp_code = 'RCM_MARKET'
		and use_yn = 'Y'
		order by seq_no
	</select>
	
	<!-- 마켓 이동 수치 조회 -->
	<select id="selectMarketStatsList" parameterType="HashMap" resultType="java.util.HashMap">
		select 
					<if test="period.equals('day')">
		       case when cday = 'TOTAL' then 'TOTAL'
		       			when cday = 'UACC' then 'UACC'
					 else SUBSTRING(cday,1,4) + '-' + SUBSTRING(cday,5,2) + '-' + SUBSTRING(cday,7,2)
					 end CDAY
					</if>
					<if test="period.equals('month')">
		       case when cday = 'TOTAL' then 'TOTAL'
		       			when cday = 'UACC' then 'UACC'
					 else SUBSTRING(cday,1,4) + '-' + SUBSTRING(cday,5,2) + '-' + '01'
					 end CDAY
					</if>
					<if test="period.equals('year')">
		       case when cday = 'TOTAL' then 'TOTAL'
		       			when cday = 'UACC' then 'UACC'
					 else SUBSTRING(cday,1,4) + '-' + '01' + '-' +'01'
					 end CDAY
					</if>
				<foreach collection="title_list" item="title_list"   open="" close="" separator="">
			    ,sum(isnull(case when upper(code) = '${title_list}' then a.val1 end,0)) ${title_list}_VAL1
					,sum(isnull(case when upper(code) = '${title_list}' 	then a.val2 end,0)) ${title_list}_VAL2
					,sum(isnull(case when upper(code) = '${title_list}' 	then a.val3 end,0)) ${title_list}_VAL3
				 </foreach>
		from (
		select <if test="period.equals('day')">
		        wat.cday cday
					 </if>
					 <if test="period.equals('month')">
		        left(wat.cday, 6) cday
					 </if>
					 <if test="period.equals('year')">
		        left(wat.cday, 4) cday
					 </if>
				 ,RTRIM(wat.code) code
			   ,isnull(wat.val1,0) val1
			   ,isnull(wat.val2,0) val2
			   ,isnull(wat.val3,0) val3
		from stat_wat wat
		<where>
			and grp_code = 'RCM_MARKET'
	  	<if test="sday != null and sday != ''">
		  	<![CDATA[
	        and wat.cday >=  #{sday,jdbcType=VARCHAR}
	        ]]>	
    	</if>
    	<if test="eday != null and eday != ''">
        <![CDATA[
        	and wat.cday <=  #{eday,jdbcType=VARCHAR}
        ]]>	
   		</if>
	  </where>
		union all
		select 'TOTAL' day
			   ,RTRIM(wat.code) code
			   ,sum(isnull(wat.val1,0)) val1
			   ,sum(isnull(wat.val2,0)) val2
			   ,sum(isnull(wat.val3,0)) val3
		from stat_wat wat
		<where>
			and grp_code = 'RCM_MARKET'
	  	<if test="sday != null and sday != ''">
		  	<![CDATA[
	        and wat.cday >=  #{sday,jdbcType=VARCHAR}
	        ]]>	
    	</if>
    	<if test="eday != null and eday != ''">
        <![CDATA[
        	and wat.cday <=  #{eday,jdbcType=VARCHAR}
        ]]>	
   		</if>
	  </where>
		GROUP BY wat.code
		union all
		select 'UACC' day
			   ,RTRIM(wat.code) code
			   ,sum(isnull(wat.val1,0)) val1
			   ,sum(isnull(wat.val2,0)) val2
			   ,sum(isnull(wat.val3,0)) val3
		from stat_wat wat
		where grp_code = 'RCM_MARKET'
		GROUP BY wat.code
		) a
		group by CDAY
		order by cday
	</select>
	
</mapper>