<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Board" type="com.example.board.domain.Board" />
		<typeAlias alias="Member" type="com.example.board.domain.Member"/>
		<typeAlias alias="PageHelper" type="com.example.board.domain.PageHelper"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/example/board/mybatis/BoardMapper.xml"/>
	</mappers>
</configuration>