<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wallet.shop.mapper.custom.ShopCategoryPrdMapper" >
	<resultMap id="BaseResultMap" type="com.wallet.shop.model.custom.ShopCategoryPrd" >
		<result column="IDX" property="idx" jdbcType="VARCHAR" />
		<result column="PRD_ID" property="prdId" jdbcType="VARCHAR"/> 
		<result column="PRD_NAME" property="prdName" jdbcType="VARCHAR"/> 
		<result column="CATE_ID" property="cateId" jdbcType="VARCHAR"/> 
		<result column="CATE_NAME" property="cateName" jdbcType="VARCHAR"/> 
		<result column="UPPER_CATE_ID" property="upperCateId" jdbcType="VARCHAR"/> 
		<result column="UPPER_CATE_NAME" property="upperCateName" jdbcType="VARCHAR"/> 
		<result column="PRD_URL" property="prdURL" jdbcType="VARCHAR"/> 
		<result column="SHOW_YN" property="showYN" jdbcType="VARCHAR"/> 
		<result column="BIGO" property="bigo" jdbcType="VARCHAR"/> 
		<!-- <result column="DEL_YN" property="delYN" jdbcType="VARCHAR"/> --> 
		<result column="REG_USER" property="regUser" jdbcType="VARCHAR" />
		<result column="REG_USER_NM" property="regUserNm" jdbcType="VARCHAR" />
		<result column="REG_DTM" property="regDtm" jdbcType="VARCHAR" />
		<result column="CHG_USER" property="chgUser" jdbcType="VARCHAR" />
		<result column="CHG_USER_NM" property="chgUserNm" jdbcType="VARCHAR" />
		<result column="CHG_DTM" property="chgDtm" jdbcType="VARCHAR" />
		
		<result column="PRD_IMG_COMMOS" property="prdImg_commOs" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 조회조건에 대한 모카샵_상품 목록 -->
	<select id="selectShopCategoryPrdList" parameterType="HashMap" resultMap="BaseResultMap" >
			SELECT <if test='top != null and top != ""'> top ${top} </if>
				ROW_NUMBER() OVER(ORDER BY P.REG_DTM DESC) AS IDX 
				, P.PRD_ID
				, P.CATE_ID
				, P.PRD_NAME
				, P.PRD_URL
				, P.SHOW_YN
				, P.DEL_YN
				, P.BIGO
				, P.REG_USER
				, CONVERT(VARCHAR(10), P.REG_DTM, 120) as REG_DTM
				, P.CHG_USER
				, CONVERT(VARCHAR(10), P.CHG_DTM, 120) as CHG_DTM
			FROM MS_CS_SHOP_CATEGORY_PRD P
			WHERE 1=1 
			<if test='cateId != null and cateId != ""'>
				AND P.CATE_ID = #{cateId}
			</if>
			<!--  
			<if test='prdId != null and prdId != ""'>
				AND P.PROD_ID = #{prdId}
			</if>-->
			<if test='ra_searchTerm != null and ra_searchTerm != "" '>
				<if test='sdate != null and sdate != ""'>
					<if test='se_termOpt == "reg_date"'>
						<![CDATA[
							AND CONVERT(VARCHAR(10), P.REG_DTM, 120) >=	#{sdate}
						]]>
					</if>
					<if test='se_termOpt == "chg_date"'>
						<![CDATA[
							AND CONVERT(VARCHAR(10), P.CHG_DTM, 120) >=	#{sdate}
						]]>
					</if>
				</if>
				<if test='edate != null and edate != ""'>
					<if test='se_termOpt == "reg_date"'>
						<![CDATA[
							AND CONVERT(VARCHAR(10), P.REG_DTM, 120) <=	#{edate}
						]]>
					</if>
					<if test='se_termOpt == "chg_date"'>
						<![CDATA[
							AND CONVERT(VARCHAR(10), P.CHG_DTM, 120) <=	#{edate}
						]]>
					</if>
				</if>
			</if>
			<if test='se_termOpt == "chg_date"'>
				AND P.CHG_DTM IS NOT NULL
			</if>
			<if test='prdName != null and prdName != ""'>
				AND P.PRD_NAME LIKE '%${prdName}%'
			</if>
			<if test='showYN != "all"'>
				AND P.SHOW_YN = #{showYN}
			</if>
			<if test='ra_allyStat != null and ra_allyStat != "" and ra_allyStat != "all"'>
				AND P.ALLY_STAT = #{ra_allyStat}
			</if>

		<if test='startRow != null and startRow != ""'>
			<if test='rowsPerPage != null and rowsPerPage != ""'>
 				AND A.IDX BETWEEN #{startRow, jdbcType=INTEGER} AND #{endRow, jdbcType=INTEGER}
			</if>
		</if>
	</select>
	
	<!-- 조회조건에 대한 모카샵_카테고리 총 수 -->
	<select id="selectShopCategoryPrdListCnt" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(*) AS CNT
		FROM MS_CS_SHOP_CATEGORY_PRD P
		WHERE 1=1
		
		<if test='cateId != null and cateId != ""'>
			AND P.CATE_ID = #{cateId}
		</if>
		<if test='prdId != null and prdId != ""'>
			AND P.PRD_ID = #{prdId}
		</if>
	</select>
	
	<!-- 조회조건에 대한 모카샵_카테고리 목록 -->
	<select id="selectShopCategoryPrdInfo" parameterType="HashMap" resultMap="BaseResultMap" >
		SELECT P.PRD_ID
			, P.CATE_ID
			, P.PRD_NAME
			, P.PRD_URL
			, P.SHOW_YN
			, P.DEL_YN
			, P.BIGO
			, P.REG_USER
			, CONVERT(VARCHAR(10), P.REG_DTM, 120) as REG_DTM
			, P.CHG_USER
			, CONVERT(VARCHAR(10), P.CHG_DTM, 120) as CHG_DTM
			, I.*
		FROM MS_CS_SHOP_CATEGORY_PRD P
		LEFT OUTER JOIN(
			SELECT ID
			, MAX(CASE WHEN I.OS_TYPE='00' AND I.USE_TYPE='15' THEN I.IMAGE_URL END) AS PRD_IMG_COMMOS
			FROM MW_CM_IMAGE I
			GROUP BY ID
		) I
		ON I.ID = P.PRD_ID
		WHERE 1=1
		<if test='prdId != null and prdId != ""'>
			AND P.PRD_ID = #{prdId}
		</if> 
	</select>

	<insert id="insertShopCategoryPrd" parameterType="HashMap">
		INSERT INTO MS_CS_SHOP_CATEGORY_PRD
		<trim prefix="(" suffix=")" suffixOverrides="," >
			CATE_ID,
			PRD_ID,
			<if test='prdName != null and prdName != ""' >PRD_NAME,</if>
			<if test='prdURL != null and prdURL != ""' >PRD_URL,</if>
			<if test='showYN != null and showYN != ""' >SHOW_YN,</if>
			<if test='bigo != null and bigo != ""' >BIGO,</if>
			<!-- <if test='delYN != null and delYN != ""' >DEL_YN,</if> -->
			REG_USER,
			REG_DTM,
		</trim>
		<trim prefix="" suffix="" suffixOverrides="," >
			<!--SELECT LTRIM(STR((ISNULL(RIGHT(MAX(BANK_ID),3),0)+1))) ,-->
			SELECT
			<if test='cateId != null and cateId != ""' >#{cateId},</if>
			'PRD'+SUBSTRING(REPLICATE('0',9),0,10-LEN(ISNULL(RIGHT(MAX(PRD_ID),9),0)+1))+LTRIM(STR((ISNULL(RIGHT(MAX(PRD_ID),9),0)+1))) AS PRD_ID,
			<if test='prdName != null and prdName != ""' >#{prdName},</if>
			<if test='prdURL != null and prdURL != ""' >#{prdURL},</if>
			<if test='showYN != null and showYN != ""' >#{showYN},</if>
			<if test='bigo != null and bigo != ""' >#{bigo},</if>
			<!-- <if test='delYN != null and delYN != ""' >#{delYN},</if> -->
				#{regUser},
				 GETDATE(),
		</trim>
			FROM MS_CS_SHOP_CATEGORY_PRD
	</insert>

	<update id="updateShopCategoryPrd" parameterType="HashMap">
		UPDATE MS_CS_SHOP_CATEGORY_PRD
		<set>
		<trim prefix="" suffix="" suffixOverrides="," >
			<if test='prdName != null and prdName != ""' >PRD_NAME = #{prdName},</if>
			<if test='prdURL != null and prdURL != ""' >PRD_URL = #{prdURL},</if>
			<if test='showYN != null and showYN != ""' >SHOW_YN = #{showYN},</if>
			<if test='bigo != null and bigo != ""' >BIGO = #{bigo},</if>
			<!-- <if test='delYN != null and delYN != ""' >DEL_YN = #{delYN},</if> -->
			CHG_USER = #{chgUser},
			CHG_DTM = GETDATE(),
		</trim>
		</set>
		WHERE PRD_ID = #{prdId}
	</update>
	
	<delete id="deleteShopCategoryPrd" parameterType="HashMap">
		DELETE
		FROM MS_CS_SHOP_CATEGORY_PRD
		WHERE PRD_ID = #{prdId} 
		AND CATE_ID = #{cateId} 
	</delete>
	
	<!-- 총 Product 수 조회 -->
	<select id="selectTotProdCnt" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM MS_CS_SHOP_CATEGORY_PRD
		WHERE CATE_ID = #{cateId}
	</select>
	
	<!-- 노출처리 된 총 상품 수 조회 -->
	<select id="selectShowCategoryPrdListCnt" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM MS_CS_SHOP_CATEGORY_PRD
		WHERE CATE_ID = #{cateId}
		AND SHOW_YN='Y'
	</select>
	
	<select id="selectLastPrdId" parameterType="HashMap" resultType="java.lang.String">
		SELECT MAX(PRD_ID) AS PRD_ID
		FROM MS_CS_SHOP_CATEGORY_PRD 
		WHERE PRD_ID LIKE 'PRD%' 
	</select>
</mapper>