<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wallet.membership.mapper.custom.CouponAccumulationMapper" >
	<resultMap id="BaseResultMap" type="com.wallet.membership.model.custom.CouponAccumulation" >
		<result column="TERM" property="term" jdbcType="VARCHAR" />
		<result column="CPN_ID" property="cpnId" jdbcType="VARCHAR" />
		<result column="TERM" property="term" jdbcType="VARCHAR" />
		<result column="CPN_TYPE" property="cpnType" jdbcType="VARCHAR" />
		<result column="CPN_NAME" property="cpnName" jdbcType="VARCHAR" />
		<result column="CPN_AMOUNT_RATE" property="cpnAmountRate" jdbcType="VARCHAR" />
		<result column="ACCUM_CNT" property="accumCnt" jdbcType="VARCHAR" />
		<result column="AMOUNT" property="amount" jdbcType="VARCHAR" />
		<result column="CPN_DC_AMOUNT" property="cpnDcAmount" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectCouponAccumulationList" parameterType="HashMap" resultMap="BaseResultMap" >
		SELECT AA.CPN_ID
			, '${sdate}  ~  ${edate}' AS TERM
			, DBO.GET_CODE_NM('0030',AA.PART_V) AS CPN_TYPE
			, AA.CPN_NAME	AS CPN_NAME
			, AA.CPN_DC_AMOUNT	AS CPN_AMOUNT_RATE
			, CC.CNT AS ACCUM_CNT
			, CC.SUM_PAY_AMOUNT AS AMOUNT
			, CC.SUM_DC_PRICE AS CPN_DC_AMOUNT
		FROM (
			SELECT CPN_ID
			, COUNT(CPN_ID) AS CNT
			, SUM(TOT_PAY_AMOUNT) AS SUM_PAY_AMOUNT
			, SUM(ACTUAL_DC_PRICE) AS SUM_DC_PRICE
			FROM MW_CS_CPN_CONF
			WHERE REQ_TYPE = 'A' 
			AND CANCEL_YN = 'N'
			AND CONF_DT BETWEEN REPLACE(#{sdate}, '-', '') AND REPLACE(#{edate}, '-', '') 
			GROUP BY CPN_ID
		) CC INNER JOIN 
		(
		SELECT C.CPN_ID
			, C.PART_V
			, C.NAME AS CPN_NAME
			, M.CPN_DISC_TYPE
			, M.CPN_DISC_AMOUNT
			, CASE WHEN M.CPN_DISC_TYPE='02' THEN CONVERT(VARCHAR(10),M.CPN_DISC_AMOUNT)+'%' 
			ELSE CONVERT(VARCHAR(10),M.CPN_DISC_AMOUNT)+'원' 
			END AS CPN_DC_AMOUNT
		FROM CPN_LIST C 
		INNER JOIN MW_CS_CPN_LIST M 
		ON C.CPN_ID = M.CPN_ID
		<if test='partV != null and partV != ""'>
			AND C.PART_V = #{partV}
		</if>
		<if test='cpnName != null and cpnName != ""'>
			AND C.NAME LIKE '%${cpnName}%'
		</if>
		) AA ON CC.CPN_ID = AA.CPN_ID
	</select>
	
	
	<select id="selectCouponAccumulationListCnt" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT COUNT(*) AS CNT
  FROM (
			SELECT CPN_ID
			, COUNT(CPN_ID) AS CNT
			, SUM(TOT_PAY_AMOUNT) AS SUM_PAY_AMOUNT
			, SUM(ACTUAL_DC_PRICE) AS SUM_DC_PRICE
			FROM MW_CS_CPN_CONF
			WHERE REQ_TYPE = 'A' 
			AND CANCEL_YN = 'N'
			AND CONF_DT BETWEEN REPLACE(#{sdate}, '-', '') AND REPLACE(#{edate}, '-', '') 
			GROUP BY CPN_ID
		) CC INNER JOIN 
		(
		SELECT C.CPN_ID
			, C.PART_V
			, C.NAME AS CPN_NAME
			, M.CPN_DISC_TYPE
			, M.CPN_DISC_AMOUNT
			, CASE WHEN M.CPN_DISC_TYPE='02' THEN CONVERT(VARCHAR(10),M.CPN_DISC_AMOUNT)+'%' 
			ELSE CONVERT(VARCHAR(10),M.CPN_DISC_AMOUNT)+'원' 
			END AS CPN_DC_AMOUNT
		FROM CPN_LIST C 
		INNER JOIN MW_CS_CPN_LIST M 
		ON C.CPN_ID = M.CPN_ID
		<if test='partV != null and partV != ""'>
			AND C.PART_V = #{partV}
		</if>
		<if test='cpnName != null and cpnName != ""'>
			AND C.NAME LIKE '%${cpnName}%'
		</if>
		) AA ON CC.CPN_ID = AA.CPN_ID
	</select>
	
</mapper>